@model HelpViewModel
@{
    ViewData["Title"] = "Help";
    ViewData["Instance"] = Model.InstanceName;
    ViewData["CustomPageHeader"] = true;
}

@section AddToHead{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Styles/Vendor/mdwiki.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Styles/Vendor/highlight.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Styles/Vendor/colorbox.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Styles/Views/help.css")">
    <script type="text/javascript" src="@Url.Content("~/Static/Scripts/Vendor/highlight.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Static/Scripts/Vendor/jquery.colorbox.min.js")"></script>
    <script type="text/javascript">
        $.mdContentRoot = "/Static/Help/";
    </script>
    <script type="text/javascript" src="@Url.Content("~/Static/Scripts/Vendor/mdwiki.min.js")"></script>
}

<div id="md-all" style="clear: both;">
</div>