@model TradesViewModel
@{
    ViewData["Title"] = "Trades";
    ViewData["Instance"] = Model.InstanceName;
}

@section AddToHead{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Styles/Views/trades.css")">
    <script type="text/javascript" src="@Url.Content("~/Static/Scripts/Views/trades.js")"></script>
}

<div>
    <div class="sub-header">Date: @Model.Date.ToOffset(TimeSpan.FromHours(Model.TimezoneOffset)).ToString("yyyy-MM-dd"), Total: @Model.Trades.Count</div>
    <table class="table table-hover table-striped" id="tradesTable" style="width: 100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Pair</th>
                <th>DCA Level</th>
                <th>Margin</th>
                <th>Profit</th>
                <th>Fees</th>
                <th>Age</th>
                <th>Rating Bought</th>
                <th>Rating Sold</th>
                <th>Gl. Rating Bought</th>
                <th>Gl. Rating Sold</th>
                <th>Signal Rule</th>
                <th>Swap Pair</th>
                <th>Arbitrage</th>
                <th>% Arbitrage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in Model.Trades.OrderByDescending(t => t.SellDate))
            {
            <tr>
                <td>@trade.SellDate.ToOffset(TimeSpan.FromHours(Model.TimezoneOffset)).ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@if (trade.Metadata?.OriginalPair != null) { @Html.Raw(trade.Metadata.OriginalPair); } else { @Html.Raw(trade.Pair); }</td>
                <td>@if (trade.Metadata?.OriginalPair == null) { @Html.Raw((trade.OrderDates.Count - 1) + (trade.Metadata?.AdditionalDCALevels ?? 0)) } else { <text>0</text> }</td>
                <td>@Html.Raw((trade.Profit / (trade.Cost + (trade.Metadata?.AdditionalCosts ?? 0)) * 100).ToString("0.00"))</td>
                <td>@trade.Profit.ToString("0.00000000")</td>
                <td>@trade.FeesTotal.ToString("0.00000000")</td>
                <td>@if (trade.OrderDates != null && trade.OrderDates.Count > 0) { @Html.Raw((trade.SellDate - trade.OrderDates.Min()).TotalDays.ToString("0.00")); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.BoughtRating != null) { @Html.Raw(trade.Metadata.BoughtRating.Value.ToString("0.000")); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.CurrentRating != null) { @Html.Raw(trade.Metadata.CurrentRating.Value.ToString("0.000")); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.BoughtGlobalRating != null) { @Html.Raw(trade.Metadata.BoughtGlobalRating.Value.ToString("0.000")); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.CurrentGlobalRating != null) { @Html.Raw(trade.Metadata.CurrentGlobalRating.Value.ToString("0.000")); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.SignalRule != null) { @Html.Raw(trade.Metadata.SignalRule); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.SwapPair != null && trade.IsSwap) { @Html.Raw(trade.Metadata.SwapPair); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.Arbitrage != null && trade.IsArbitrage) { @Html.Raw(trade.Metadata.Arbitrage); } else { <text>N/A</text> }</td>
                <td>@if (trade.Metadata?.ArbitragePercentage != null && trade.IsArbitrage) { @Html.Raw(trade.Metadata.ArbitragePercentage.GetValueOrDefault().ToString("0.00")); } else { <text>N/A</text> }</td>
            </tr>
            }
        </tbody>
    </table>
</div>
